<%- include('../partials/header') %>

<section id="user-header">
    <h2>Hello, <%= user.name %>,</h2>
    <p>welcome back to party chat.</p>
</section>

<section id="user-body">
    <% if (!user.profile) { %>
        <a href="profiles/new">Create a Profile</a>
    <% } else { %>
        <a href="/profiles/<%= user.profile %>">View My Profile</a><br>
        <a href="/profiles/<%= user.profile %>/edit">Edit My Profile</a>
    <% } %>
    </section>



<%- include('../partials/footer') %>