<%- include('../partials/header') %>
<h3><%= chat.intro %></h3>

<table class="chat-table">
    <% chat.messages.forEach(function(msg) { %>
        <tr>
            <td id="time"><%= msg.createdAt.toLocaleString('en-US', {hour: 'numeric', minute: '2-digit'}) %></td>
            <td id="name"><%= msg.user.name %></td>
            <td id="msg"><%= msg.message %></td>
            <td>
                <% if (user?._id.equals(msg.user.id)) { %>
                    <form action="/chats/<%= msg._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                <% } %>
            </td>
        </tr>
    <% }) %>
    <tr>
        <td class="anchor">
            <form action="/chats/beach-bbq" method="POST">
                <input type="text" name="message" maxlength="500" placeholder="Type here to send a message!"></textarea>
                <button type="submit">SEND</button>
            </form>
        </td>
    </tr>
</table>

<style>
#time {
    align-items: left;
    font-size: small;
    width: 10%;
}
#name {
    align-items: left;
    font-size: medium;
    width:auto;
}
#msg {
    align-items: left;
}

</style>

<%- include('../partials/footer') %>